<div id="left">
    <div class="easyui-panel" title="步骤导航" id="newProjectLeft" data-options="fit:true">
        <ul id="stepNav">
            <li class="avtive">1.项目设置</li>
            <li>2.添加解决方案</li>
            <li>3.计划设置</li>
            <li>4.设置确认</li>
        </ul>
    </div>
</div>
<div id="right">
    <div class="easyui-panel" id="newProjectRight"  data-options="fit:true">
    </div>
</div>
<div class="stepProgress">
    <div id="step">
        <div>
            <a id="stepBack" href="#" class="easyui-linkbutton">上一步</a>
            <a id="stepNext" href="#" class="easyui-linkbutton">下一步</a>
            <a id="stepCanel" href="#" class="easyui-linkbutton">取消</a>
        </div>
    </div>
</div>
